/.idea/
/archives/
/dist/tmail
/dist/db/*
dist/tools/easyCert/
dist/nsq/*
dist/conf/tmail.cfg
run
test
watch
build
buildDist
dist/log/
dist/mailboxes/
dist/tmail64
dist/tools/
tmail.zip

### golang
vendor/**/**/

dist/tmail-2019-03-17
