header{
    height: 66px;
    background: #EEEEEE;

}

#main {
    margin-top: 20px;
}

#searchMin{
    position: relative;
    top: 17px;
}

#Lcol{

}

#newMsg{
    margin-left: 15px;
}


#Rcol{

}

.inpSelect{
    width: 20px;
}

.boxThreadIndex{
    cursor: pointer;

}

.boxThreadIndex p{
    margin: 0px;

}

.boxThreadIndex img{
    margin-right: 10px;

}