extends layout

block content
    header.row-fluid
        div.offset3(id="searchMin")
            div.input-append.row-fluid
                input.span8(id="appendedInputButtons", type="text")
                button.btn.btn-primary(type="button") Search
    div#main.row-fluid
        div#Lcol.span2
            button#newMsg.btn.btn-danger("type="button") New message
        div#Rcol.span10
            // Messages
            // box thread index
            div.threadIndexes
                table.table.table-hover
                    tr
                        td.inpSelect
                            input(type="checkbox",id="inlineCheckbox3")

                        td
                            div.boxThreadIndex
                                img.pull-left(src="http://www.gravatar.com/avatar/d5ee82ad02ee329088c0b2c8b91cdcb9.jpg?s=36&d=404",height="§,width=36)
                                p
                                    strong Stéphane Depierrepont
                                p [tt] Et c'est parti !
                                p.msgBody.muted
                                    Bon bin malheureusement ça fonctionne comme je le pensais.....
                    tr
                        td.inpSelect
                            input(type="checkbox",id="inlineCheckbox3")

                        td
                            div.boxThreadIndex
                                img.pull-left(src="http://www.gravatar.com/avatar/d5ee82ad02ee329088c0b2c8b91cdcb9.jpg?s=36&d=404",height="§,width=36)
                                p
                                    strong Stéphane Depierrepont
                                p [tt] Et c'est parti !
                                p.msgBody.muted
                                    Bon bin malheureusement ça fonctionne comme je le pensais.....
                    tr
                        td.inpSelect
                            input(type="checkbox",id="inlineCheckbox3")

                        td
                            div.boxThreadIndex
                                img.pull-left(src="http://www.gravatar.com/avatar/d5ee82ad02ee329088c0b2c8b91cdcb9.jpg?s=36&d=404",height="§,width=36)
                                p
                                    strong Stéphane Depierrepont
                                p [tt] Et c'est parti !
                                p.msgBody.muted
                                    Bon bin malheureusement ça fonctionne comme je le pensais.....
                    tr
                        td.inpSelect
                            input(type="checkbox",id="inlineCheckbox3")

                        td
                            div.boxThreadIndex
                                img.pull-left(src="http://www.gravatar.com/avatar/d5ee82ad02ee329088c0b2c8b91cdcb9.jpg?s=36&d=404",height="§,width=36)
                                p
                                    strong Stéphane Depierrepont
                                p [tt] Et c'est parti !
                                p.msgBody.muted
                                    Bon bin malheureusement ça fonctionne comme je le pensais.....

    footer

