doctype 5
html
  head
    title= title
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/style.css', rel='stylesheet', media='screen')
  body
    block content